html{
    background-color: black;
}

h1{
    color:#60364A;
    font-family:"Libre Baskerville",'Playfair+Display';
    text-transform: uppercase;
    text-align:center;
    font-size:2rem;
}

.motivation-img{
    border:5px solid #60364A;
    width:100%;
}

.poster{
    margin-top:70px;
    width:50%;
    margin-left:25%;
    color:#60364A;
    text-align:center;
}